# Node
frontend/node_modules/
frontend/dist/

# Python
backend/__pycache__/
*.pyc
.venv/

# Environment
.env

# Docker
mysql_data/
postgres_data/

# WordPress
wordpress/wp-content/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# WordPress core
wordpress/*
!wordpress/wp-content/
!wordpress/wp-content/themes/
!wordpress/wp-content/plugins/