@use "./variables" as *;
@use "./reset";


html {
  scroll-behavior: smooth;
}


body {

  background: $bg-dark;

  color: $text-main;

  font-family:
    Inter,
    Arial,
    sans-serif;

  line-height: 1.5;

  overflow: hidden;

}


#root {

  height: 100vh;

}


.page-scroll {

  height: calc(100vh - 70px);

  overflow-y: auto;

  scroll-snap-type: y mandatory;

  scroll-behavior: smooth;

}



.page-scroll > section {

  scroll-snap-align: start;

  scroll-snap-stop: always;

  opacity: 0.85;

  transform: scale(0.98);

  transition:
    opacity 0.6s ease,
    transform 0.6s ease;

}



.page-scroll > section.active {

  opacity: 1;

  transform: scale(1);

}