@use "./variables" as *;
@use "./reset";


html {
  scroll-behavior: smooth;
}


body {
  background: $bg-dark;
  color: $text-main;

  font-family:
    Inter,
    Arial,
    sans-serif;

  line-height: 1.5;

  overflow: hidden;
}


#root {
  height: 100vh;
}


.page-scroll {
  height: calc(100vh - 70px);

  overflow-y: auto;

  scroll-snap-type: y mandatory;
}


.page-scroll > section {
  scroll-snap-align: start;
}