# BEGIN WordPress

RewriteEngine On

RewriteRule ^wp-json/?(.*)$ index.php?rest_route=/$1 [QSA,L]

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /index.php [L]

# END WordPress