@use "@/styles/variables" as vars;

.hero {
  min-height: calc(100vh - 70px);

  display: flex;
  align-items: center;

  padding: 0 40px;

  position: relative;
  overflow: hidden;

  background:
    radial-gradient(
      circle at 80% 20%,
      rgba(0, 170, 255, 0.15),
      transparent 35%
    ),
    radial-gradient(
      circle at 20% 80%,
      rgba(0, 255, 136, 0.12),
      transparent 35%
    ),
    vars.$bg-dark;


  &__content {
    max-width: 750px;


    h1 {
      font-size: 72px;
      line-height: 1;

      color: vars.$text-main;

      margin-bottom: 15px;
    }


    h2 {
      font-size: 32px;

      color: vars.$secondary;

      margin-bottom: 25px;
    }


    p {
      max-width: 600px;

      color: vars.$text-muted;

      font-size: 18px;

      line-height: 1.7;

      margin-bottom: 40px;
    }


    button {
      padding: 14px 35px;

      border-radius: vars.$radius;

      border: 1px solid vars.$primary;

      background: vars.$primary;

      color: vars.$bg-dark;

      font-weight: 700;

      cursor: pointer;

      transition: 0.3s;


      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}